<!-- $Id: context.xml 9086 2011-10-03 15:55:15Z biotelerock $ -->
<Context path="/das2gnomwz" docBase="webapps/das2gnomex" debug="0" reloadable="true" allowLinking="true">

	<!-- Optimised Logging routine.  Configured to log in 'combined'
	     log format. -->
	<!--
	<Valve
	    className="org.apache.catalina.valves.FastCommonAccessLogValve"
	    directory="${catalina.home}/logs/"
	    prefix="das2_access-"
	    suffix=".log"
	    pattern="combined" />
	-->

	<!-- Custom log format.  Is equivalent to 'combined' log format
	     but appends the number of milliseconds required to service
	     a request to the end of the line. -->
	<Valve
	    className="org.apache.catalina.valves.AccessLogValve"
	    directory="${catalina.home}/logs/"
	    prefix="das2_access-"
	    suffix=".log"
	    pattern='%h %l %u %t "%r" %s %b "%{Referer}i" "%{User-Agent}i" %Dms' />
	    
     
<!--                    -->
<!-- DAS/2 gnomex mode  -->	    
<!--                    -->

<!-- JNDI JDBC Data source to connect to GNomEx database -->
<Resource name="jdbc/GNOMEX_DATATRACKS" auth="Container" 
    type="javax.sql.DataSource"
    maxActive="30" maxIdle="5" maxWait="2000"
    removeAbandoned="true" logAbandoned="true"
    testOnBorrow="true"  
    validationQuery="SELECT 1 FROM DUAL" 
    username="gnomex" password="some_password"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost:3306/gnomex?autoReconnect=true"/>
     
<!-- GNomEx Realm for authenticating user  -->
<Realm name="GNomExRealm" className="hci.gnomex.security.tomcat.GNomExRealm"     
       datasource_lookup_name="java:comp/env/jdbc/GNOMEX_DATATRACKS"/> 
 
</Context>

