body
{
	color: #444444;
       font-family: Calibri;
}

 H1 {

      font-size: 12pt;
      font-weight: bold;
      padding-top: 0;
      padding-bottom: 0;   
  }
  
   H2 {


      font-size: 11pt;
      font-weight: bold;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;     
  }

  td {

      border: thin solid;
      border-color: #CDCDC1;
      font-size: 10pt;
      padding-right: 4;
      padding-left: 4;
      padding-top: 4;
      padding-bottom: 4;
      vertical-align: top;
      width: 100%;
  }
  
  td.label {
      border: none;
      font-size: 10pt;
      font-weight: normal;
      padding-top: 4;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      width: 10%;     
  }
    