./igb_exe.jar
.metadata
.project
.swo
.swp
RT_U34TEST.link.psl.link2.psl
build
build-test
bundles
core/HeatmapEditor/META-INF/MANIFEST.MF
core/HeatmapEditor/build-test
core/common/META-INF/MANIFEST.MF
core/common/build
core/debug/build
core/genometryImpl/META-INF/MANIFEST.MF
core/genometryImpl/build
core/genometryImpl/test/data/bgn/testOUT.bgn
core/genometryImpl/test/data/bps/mRNA1_test.mm.bps
core/genometryImpl/test/data/psl/RT_U34TEST.link.psl
core/genometryImpl/test/data/server/A_thaliana/A_thaliana_TAIR8/mRNA_INDEX_TEST.psl
core/igb-i18n/build-test
core/igb/META-INF/MANIFEST.MF
core/igb/build-test
core/igb/src/com/affymetrix/igb/action/.ShowStrandAction.java.swp
core/igb_service/META-INF/MANIFEST.MF
core/igb_service/build-test
core/main/build-test
core/window_service/META-INF/MANIFEST.MF
core/window_service/build-test
das2_server/build
das2_server/src/com/affymetrix/genometry/servlets/.GenometryDas2Servlet.java.swp
dist
doc/api
docs
etc/bundles.properties
experimental/guitest/build
experimental/guitest/nbproject/private
full_dist
igb_exe-5GB.jar
igb_exe-large.jar
nbproject/private
plugins/AnnotationTab/META-INF/MANIFEST.MF
plugins/AnnotationTab/build-test
plugins/ApolloLibrary/META-INF/MANIFEST.MF
plugins/ApolloLibrary/build
plugins/BAMIndexer/META-INF/MANIFEST.MF
plugins/BAMIndexer/build
plugins/BigBedHandler/META-INF/MANIFEST.MF
plugins/BigBedHandler/build-test
plugins/BigWigHandler/META-INF/MANIFEST.MF
plugins/BigWigHandler/build-test
plugins/Bookmark/META-INF/MANIFEST.MF
plugins/Bookmark/build-test
plugins/DASRegistryServerType/.classpath
plugins/DASRegistryServerType/META-INF/MANIFEST.MF
plugins/ExternalView/META-INF/MANIFEST.MF
plugins/ExternalView/build-test
plugins/FindAnnotations/.classpath
plugins/FindAnnotations/META-INF/MANIFEST.MF
plugins/GeometricMean/.classpath
plugins/GeometricMean/META-INF/MANIFEST.MF
plugins/GraphTab/META-INF/MANIFEST.MF
plugins/GraphTab/build-test
plugins/IGBScript/META-INF/MANIFEST.MF
plugins/IGBScript/build-test
plugins/KeyWordSearch/META-INF/MANIFEST.MF
plugins/KeyWordSearch/build-test
plugins/MergeAnnotationOperator/.classpath
plugins/MergeAnnotationOperator/META-INF/MANIFEST.MF
plugins/NCBIBlast/META-INF/MANIFEST.MF
plugins/NCBIBlast/build
plugins/NCBIPrimer/META-INF/MANIFEST.MF
plugins/NCBIPrimer/build
plugins/OverlapAnnotationOperator/.classpath
plugins/OverlapAnnotationOperator/META-INF/MANIFEST.MF
plugins/ParentOperators/META-INF/MANIFEST.MF
plugins/ParentOperators/build
plugins/PropertyView/META-INF/MANIFEST.MF
plugins/PropertyView/build-test
plugins/PythonScript/.classpath
plugins/PythonScript/META-INF/MANIFEST.MF
plugins/RestrictionSites/META-INF/MANIFEST.MF
plugins/RestrictionSites/build-test
plugins/RubyScript/.classpath
plugins/RubyScript/META-INF/MANIFEST.MF
plugins/SampleSelection/.classpath
plugins/SampleSelection/META-INF/MANIFEST.MF
plugins/SearchModeIdOrProps/META-INF/MANIFEST.MF
plugins/SearchModeIdOrProps/build-test
plugins/SearchModeLength/.classpath
plugins/SearchModeLucene/.classpath
plugins/SearchModeLucene/META-INF/MANIFEST.MF
plugins/SearchModeSymmetryFilter/META-INF/MANIFEST.MF
plugins/SearchModeSymmetryFilter/build
plugins/SearchView/META-INF/MANIFEST.MF
plugins/SearchView/build-test
plugins/SequenceViewer/META-INF/MANIFEST.MF
plugins/SequenceViewer/build
plugins/Survey/META-INF/MANIFEST.MF
plugins/Survey/build-test
plugins/TableView/META-INF/MANIFEST.MF
plugins/TableView/build
plugins/TableView/lib/
plugins/TallyHandler/.classpath
plugins/TallyHandler/META-INF/MANIFEST.MF
plugins/ThousandGenomesServerType/META-INF/MANIFEST.MF
plugins/ThousandGenomesServerType/build
plugins/Thresholding/META-INF/MANIFEST.MF
plugins/Thresholding/build-test
plugins/TranscriptIsoform/.classpath
plugins/TranscriptIsoform/META-INF/MANIFEST.MF
plugins/Tutorial/META-INF/MANIFEST.MF
plugins/Tutorial/build-test
plugins/TutorialHelper/.classpath
plugins/TutorialHelper/META-INF/MANIFEST.MF
plugins/Update/META-INF/MANIFEST.MF
plugins/Update/build
plugins/ant/build
plugins/plugins_page/META-INF/MANIFEST.MF
plugins/plugins_page/build-test
plugins/window_service_def/META-INF/MANIFEST.MF
plugins/window_service_def/build-test
protannot/build
protannot_exe.jar
report-test
reports
temp
tools/FindJunctions/build
tools/LuceneIndexing/.classpath
www/images/Thumbs.db
www/release_notes/images/Thumbs.db
/core/*/junitvmwatcher*
/igb_exe.jar
/nbproject/genfiles.properties
/core/HeatmapEditor/target/
/core/common/target/
/core/genometryImpl/target/
/core/igb/target/
/core/igbSwingExt/target/
/core/igb_service/target/
/core/window_service/target/
/plugins/AnnotationTab/target/
/plugins/Bookmark/target/
/plugins/DASRegistryServerType/target/
/plugins/RubyScript/target/
/plugins/PythonScript/target/
/plugins/OverlapAnnotationOperator/target/
/plugins/ParentOperators/target/
/plugins/PropertyView/target/
/plugins/GraphTab/target/
/plugins/ApolloLibrary/target/
/plugins/SearchModeLucene/target/
/plugins/SearchModeSymmetryFilter/target/
/plugins/SearchModeLength/target/
/plugins/SearchView/target/
/plugins/SequenceViewer/target/
/plugins/Survey/target/
/plugins/TableView/target/
/plugins/TallyHandler/target/
/plugins/ThousandGenomesServerType/target/
/plugins/Thresholding/target/
/plugins/TranscriptIsoform/target/
/plugins/Tutorial/target/
/plugins/TutorialHelper/target/
/plugins/Update/target/
/plugins/window_service_def/target/
/plugins/plugins_page/target/
/main/target/
/plugins/BigBedHandler/target/
/plugins/BigWigHandler/target/
/plugins/BAMIndexer/target/
/plugins/SampleSelection/target/
/plugins/RestrictionSites/target/
/plugins/SearchModeIdOrProps/target/
/distribution/target/
/core/sharedLibWrapper/target/
/plugins/IGBScript/target/
/plugins/ExternalView/target/
/plugins/KeyWordSearch/target/
/plugins/NCBIBlast/target/
/plugins/NCBIPrimer/target/
/developmentPlugins/BAMIndexer/target/
/developmentPlugins/DASRegistryServerType/target/
/developmentPlugins/FindAnnotations/target/
/developmentPlugins/GeometricMean/target/
/developmentPlugins/MergeAnnotationOperator/target/
/developmentPlugins/OverlapAnnotationOperator/target/
/developmentPlugins/ParentOperators/target/
/developmentPlugins/PythonScript/target/
/developmentPlugins/RubyScript/target/
/developmentPlugins/SampleSelection/target/
/developmentPlugins/SearchModeSymmetryFilter/target/
/developmentPlugins/TableView/target/
/developmentPlugins/TallyHandler/target/
/developmentPlugins/ThousandGenomesServerType/target/
/developmentPlugins/TranscriptIsoform/target/
/developmentPlugins/TutorialHelper/target/
/target/
.gradle/
.gradle/1.12/
