<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>GetBundlesInfo</servlet-name>
		<servlet-class>com.affymetrix.igb.server.GetBundlesInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBundle</servlet-name>
		<servlet-class>com.affymetrix.igb.server.AddBundleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBundlesInfo</servlet-name>
		<url-pattern>/GetBundlesInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBundle</servlet-name>
		<url-pattern>/AddBundle</url-pattern>
	</servlet-mapping>
</web-app>
