h1,h2,h3        { font-family: Verdana, sans-serif; }
body            { font-family: Verdana, "Lucida Sans", Helvetica, Arial, sans-serif; }
h1:first-child	{ margin-top: 0px }
body            { background: white; margin-left: 40px; padding: 0px }
img			    { border: 0px; vertical-align: middle; }
td              { vertical-align: top }
table           { border-spacing: 6px; }
.right          { text-align: right; }
.center         { text-align: center; font-size: 90%; }
#project        { font-size: 120%; }
#ingress        { font-size: 105%; }
#footer         { font-size: 70%; padding-top: 20px }
