.title {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    z-index: 0;
    font:normal normal normal normal 34px / 43.4px Raleway, sans-serif;
}
#seperate {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 18px;
    line-height: 28px;
    position: relative;
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 120px;
    font: normal normal normal normal 16px / 28px 'Open Sans', sans-serif;
}

#seperate:after {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 2px;
    line-height: 28px;
    position: relative;
    text-align: center;
    top: -10px;
    width: 50px;
    content: '';
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / 28px 'Open Sans', sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}

#seperate:before {
    display: block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 2px;
    line-height: 28px;
    outline-color: rgb(0, 0, 0);
    position: relative;
    top: 8px;
    width: 50px;
    content: '';
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / 28px 'Open Sans', sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}

#seperate-span {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 18px;
    line-height: 28px;
    position: relative;
    width: 18px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 28px 'Open Sans', sans-serif;
    margin: 0px 51px;
    outline: rgb(0, 0, 0) none 0px;
}
#content {
    background-color: #fafbfc;
}
.page-section {
    background:#fff;
    margin-bottom:2rem;
    padding:3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#about-team .team-row {
    margin: 3rem 0;
    text-align: center;
}
#about-sponsors .team-row {
    margin: 3rem 0;
    text-align: center;
}
.columns-3 {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 23.3%;
}
.columns-4 {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 31%;
}
*::after, *::before {
    box-sizing: inherit;
}
.img-sponser{
    /*max-height: 154px;*/
    /*max-width: 154px;*/
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-align {
    display: flex;
    align-items: center;
}